.carousel-img{
    height: 100vh;
    object-fit: cover;
    object-position: top;
}

.parent-nav{
    padding: 0 .5rem;
    &-less-padding{
        padding: 0 1.5rem;
    }
}

.review{
    &-select{
        height: 50px;
    }
}

.carousel-item{
    display: block;
}